<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>Login</title>
  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 left-side">
            <div class="col background_clr">
            </div>
            <div class="col text-over-background">
              <h4>Welcome Back</h4>
              </br>
              <div class="sm-line">
              </div>

            </div>
          </div>
          <div class="col right-side text-center">
            <h1 style="margin-top:30px;">Login</h1>
            <div class="creds">
              <h3><%= Username %></h3>
              <h3><%= Email %></h3>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
