<html>
    <head>
        <link rel="stylesheet" href="stylesheets\\message.css">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- this is the development version make sure to change later-->
        <title>
            Messages
        </title>
    </head>
    <body>

    
        <div class="pc">
            <div class="left">
                <div class="top">
                    <img src="images/web-design/girl2.jpeg">
                    <h2>John Doe</h2>
    
                </div>
                <div class="contact-list">
                    <!--
                        <div class="contact">
                        <img src="https://images.pexels.com/photos/756453/pexels-photo-756453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
                        <div class="name">
                            John Doe
                        </div>
                        <div class="date">Mar 16</div>
                        <div class="msg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsa quam laudantium perferendis ipsum molestias fugit, ratione iste sequi libero reprehenderit facere a possimus earum numquam obcaecati eum, explicabo molestiae!</div>
                    </div>
                    -->
                    

                    <% if(data){ %>
                        <% Object.keys(data).forEach((key)=>{ %>
                            <div class="contact" onclick="changeChannels(`<%= data[key]['_id'] %>`)">
                                <img src="https://images.pexels.com/photos/756453/pexels-photo-756453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
                                <div class="name">
                                    <%= data[key]['from'] %>
                                </div>
                                <div class="date">Mar 16</div>
                                <div class="msg"><%= data[key]['msg'] %></div>

                            </div>
                        <% }); %>
                    <% } %>

                </div>

            </div>

            <div class="right">
                <div class="chat">
                    <div class="topBar">
                        <img src="images/web-design/girl2.jpeg" >
                        <span class="name">John Doe</span>
                        <i class="fas fa-circle" id="active"></i>
                        <i class="fas fa-ellipsis-v"></i>
                        
                    </div>
                    <div class="middle">
                        <!--CHAT ROOM-->
                        <div class="message-row you">
                            <div class="message">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit nulla nam natus, quas fuga unde possimus quaerat harum inventore minima deleniti saepe animi ex. Eius laudantium numquam illum esse similique?
                            </div>
                            <div class="date">
                                Apr 16
                            </div>
                        </div>
                        <div class="message-row other">
                            <div class="message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ab modi saepe cupiditate aperiam quidem quibusdam impedit quas non? Hic, iste. Eaque, eos eum laboriosam iusto inventore molestiae quibusdam tenetur!
                            </div>
                            <div class="date">
                                Apr 16
                            </div>
                        </div>
                        <div class="message-row other">
                            <div class="message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ab modi saepe cupiditate aperiam quidem quibusdam impedit quas non? Hic, iste. Eaque, eos eum laboriosam iusto inventore molestiae quibusdam tenetur!
                            </div>
                            <div class="date">
                                Apr 16
                            </div>
                        </div>

                        <div class="message-row you">
                            <div class="message">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit nulla nam natus, quas fuga unde possimus quaerat harum inventore minima deleniti saepe animi ex. Eius laudantium numquam illum esse similique?
                            </div>
                            <div class="date">
                                Apr 16
                            </div>
                        </div>
                        <div class="message-row you">
                            <div class="message">
                                hey
                            </div>
                            <div class="date">
                                Apr 16
                            </div>
                        </div>
                        <!--CHAT ROOM-->
                    </div>
                    <div class="bottomBar">
                        <form>
                            <i class="fas fa-paperclip"></i>
                            <input placeholder="Type your message">
                        </form>
                    </div>

                </div>
            </div>
 
        </div>

        <div class="mobile">

            <div class="chat">
                <div class="topbar">
                    <i class="fas fa-chevron-left"></i>
                    <img src="images/web-design/girl2.jpeg">
                    <h2>John Doe</h2>
                    <i class="fas fa-circle" id="active"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
                <div class="middle">

                    <div class="message-row you">
                        <div class="message">
                            Sup how are you
                        </div>
                        <div class="date">
                            Apr 16
                        </div>
                    </div>
                    
                    <div class="message-row other">
                        <div class="message">
                            Im fine thanks
                        </div>
                        <div class="date">
                            Apr 16
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <form id="msgForm" action="" @submit="addMsg">
                        <input v-model="msg" autocomplete="off" type="text" name="message" placeholder="Type your message" class="form-control"/>
                        <button  type="submit"><i class="fas fa-angle-right"></i></button>
                    </form>
                </div>

            </div>
            <div class="top">
                <img src="images/web-design/girl2.jpeg">
                <h2>John Doe</h2>

            </div>
            <div class="contact-list">
                <div class="contact">
                    <img src="https://images.pexels.com/photos/756453/pexels-photo-756453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
                    <div class="name">
                        John Doe
                    </div>
                    <div class="date">Mar 16</div>
                    <div class="msg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsa quam laudantium perferendis ipsum molestias fugit, ratione iste sequi libero reprehenderit facere a possimus earum numquam obcaecati eum, explicabo molestiae!</div>
                    
                </div>

                <div class="contact">
                    <img src="images\\web-design\\girl1.jpg"/>
                    <div class="name">
                        John Doe
                    </div>
                    <div class="date">Mar 16</div>
                    <div class="msg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsa quam laudantium perferendis ipsum molestias fugit, ratione iste sequi libero reprehenderit facere a possimus earum numquam obcaecati eum, explicabo molestiae!</div>
                </div>
            </div>
        </div>
        
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts\\message.js"></script>
</html>


