<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets\\animate.min.css">  
    <link rel="stylesheet" href="stylesheets\\register.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script type="text/javascript" src="..\\javascripts\\functions.js">    </script>
    <script type="text/javascript" src="..\\javascripts\\register.js">    </script>
    
    


    <title>Register</title>
  </head>

  <body>
    <div class="container text-center">
      <h3 class="text-center" style="margin-top:5px;">Create Account</h3>
      <div class="row text-center circles">
        <div class="col">
          <i class="fas fa-circle circle-" id="selected"></i>
          <i class="far fa-circle circle-"></i>
          <i class="far fa-circle circle-"></i>
        </div>

      </div>
        <div class="form-container">

          <form action="" method="post" class="form-name">
            <div class="col first-section animated fadeIn">
              <div class="form-group">
                <label for="username-label">Username</label>
                <input type="text" required minlength="6" class="form-control" id="username-label" name="uname" aria-describedby="usernameHelp" placeholder="Enter username">
                <div class="invalid invalid-username"></div>
              </div>
              <div class="form-group">
                <label for="email-label">Email address</label>
                <input type="email" required class="form-control" id="email-label" name="uemail" aria-describedby="emailHelp" placeholder="Enter email">
                <div class="invalid invalid-email"></div>
              </div>
              <div class="form-group">
                <label for="passwd-lbl" >Password</label>
                <input type="password" minlength="6" required class="form-control" id="passwd-lbl" placeholder="Password" name="password">
                <div class="invalid invalid-password"></div>
              </div>
              <div class="form-group">
                <label for="conf-passwd-lbl" >Confirm Password</label>
                <input type="password" minlength="6" required class="form-control" id="conf-passwd-lbl" placeholder="Re-enter Password" name="cnpasswd">
                <div class="invalid invalid-Confirmpass"></div>
              </div>

              <div class="row">
                <div class="col text-left">

                </div>
                <div class="col text-right">
                  <button type="button" class="btn btn-outline-secondary btn-sm Next-btn" id="go-sec-2">Next</button>
                </div>
              </div>
            </div>

            <div class="col second-section animated fadeIn">
              <div class="form-group">
                <label for="name-label">Full Name</label>
                <input type="text" name="fullname" class="form-control" placeholder="John Doe"  required/>
                <div class="invalid invalid-fullName"></div>
              </div>
              <div class="form-group">
                <label for="location-label">Location</label>
                <select class="form-control" name="location" id="location-label" required>
                  <option value="suli">Sulaymaniyah</option>
                  <option value="erbil">Erbil</option>
                  <option value="kirkuk">Kirkuk</option>
                  <option value="mosul">Mosul</option>
                  <option value="baghdad">Baghdad</option>
                  <option value="Duhok">Duhok</option>
                  <option value="halabja">Halabja</option>
                </select>
              </div>
              <div class="form-group">
                <label for="pn-label">Phone Number</label>
                <input type="text" name="telphone" class="form-control" placeholder="888 888 8888" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" maxlength="12"  title="Ten digits code" required/>
                <div class="invalid invalid-phonenum"></div>
              </div>
              <div class="form-group">
                <label for="prof-lbl">Profession</label>
                <input type="text" class="form-control" id="prof-lbl" placeholder="Type Your Professions" required name="profession">
                <div class="invalid invalid-profession"></div>
              </div>
              
              <div class="row">
                <div class="col text-left">
                  <button type="button" class="btn btn-outline-secondary btn-sm back-btn" id="go-sec-1">Back</button>
                </div>
                <div class="col text-right">
                  <button type="button" class="btn btn-outline-secondary btn-sm Next-btn" id="go-sec-3">Next</button>
                </div>
              </div>

            </div>

            <div class="col third-section animated fadeIn">

              <div class="form-group">
                <label for="tags-input">Tags</label>
                <input autocomplete="off" class="form-control tags-input" id="tags-input"/>
                <input style="display: none;" value="" id="hIa" name="tags">
                <div class="tag-box">

                  <div class="tag-container">
                
                  </div>
                </div>
                <div class="invalid invalid-tags"></div>
              </div>
              <div class="form-group">
                <label for="gender-label">Gender</label>
                <select class="form-control" name="gender" id="gender-label" required>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>

              <div class="row">
                <div class="col text-left">
                  <button type="button" class="btn btn-outline-secondary btn-sm back-btn" id="back-sec-2">Back</button>
                </div>
                <div class="col text-right">
                  <button type="submit" class="btn btn-outline-secondary btn-sm back-btn" id="subBtn">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
          
    </div>

    <script type="text/javascript">

    $(window).click( function(e){
      var tgt = e.target;
      registery_tabs(tgt.id);

    });
    var tag_list = [];

var input = $(".tags-input");
var tagCnt = $(".tag-container");
var hia = $("#hIa");
$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});

$("#subBtn").click(()=>{
  hia.val(JSON.stringify(tag_list));
});

input.on("keypress",(e)=>{
  if(e.which == 13 || e.which == 32){
    console.log("entering tag");
    var tag = input.val().trim();
    if(tag !=''){
      var ll = "this.style.display='none'; tag_list.splice(tag_list.indexOf(this.getAttribute(\'tag\')),1)";
      tagCnt.append('<span tag="'+tag+'" class="badge badge-light" onclick="'+ll+'" >'+tag+" &times</span");
      tag_list.push(tag);
    input.val("");
    
    }
    else{
          
    }
  }
});

    </script>

  </body>
</html>
