
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html, body{
      margin: 0;
      padding: 0;
      font-family: Lato !important;
      height: 100%;
      width: 100%;
      scroll-behavior: smooth;
  }
  
  
  .topbar .fa-chevron-left{
      font-size: 20px;
      color: white;
      align-self: center;
      justify-self: start;
  }
  
  
  body{
      font-size: 10px !important;
      background: linear-gradient(360deg,#8A2BE2,#320d7f );
  }
  
  
  
  /* pc */
  .left{
      
      
  }
  .right{

  }
  .pc{
      
      display: grid;
      /*! grid-gap: 1px; */
      grid-template-columns: 1.5fr 3fr;
      width: 100%;
      height: 100%;
      
  }
  .pc .top{
      text-align: center;
      padding: 10px;
      display:grid;
      background: linear-gradient(360deg,#8A2BE2,#320daf );
      color: white;
      width: 100%;
      place-items:center;
  }
  .pc .top img{
      height: 100px;
      width: 100px;
      border-radius: 50%;
      margin: 15px;
  }
  .pc .top h2{
      font-size: 25px;
      width: 66%;
      padding: 4px;
  }
  
  .pc .contact-list{
      overflow-y: auto;
      max-height: 395px;
      min-height: 395px;
      background: #eee;
      color: #000 !important;
      width: 100%;
      padding-top: 5px;
  }
  .pc .contact-list .contact{
      padding: 15px;
      color: #000 !important;
      display: grid;
      width: 100%;
      grid-template-columns:40px 1fr max-content;
      grid-gap:10px;    
  }
  
  
  
  .pc .contact-list .contact img{
      position: relative;
      top: 6px;
      grid-row: span 2;
      height: 40px;
      width: 40px;
      border-radius: 100%;
  }
  
  
  
  .pc .contact-list .contact .name{
      font-size: 15px;
      margin-left: 15px;
      position: relative;
      top: 5px;
  }
  
  
  
  .pc .contact-list .contact .msg{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      grid-row: span 2;
      font-size:14px;
      padding-left: 15px;
  }
  
  .pc .contact-list .contact .date{
      margin-top: 5px;
      grid-row: span 2;
      font-weight: bold;
      font-size: 8px;
      opacity: 0.6;
  }
  
  
  
  .pc .contact-list {
      
  }
  
.pc .right .chat .topBar{
    width: 100%;
    background: #5117C5;
    padding: 12px;
    color: white;
    font-size: 18px;
    display: grid;
    grid-template-columns: 50px 140px 20px auto;
    place-items: center;
}

.pc .right .chat .topBar img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid limegreen;
}


.pc .right .chat .topBar .name{
    font-size: 23px;
}
.pc .right .chat .topBar .fa-ellipsis-v{
    justify-self: end;
    position: relative;
    right: 15px;
}


.pc .right .chat .middle{
    min-height: 450px;
    max-height: 450px;
    
    overflow-y: auto;
    background: #eee;
}
.pc .chat .middle .message-row{
      display:grid;
      grid-template-columns: 40%;
      margin: 5px;
      margin-bottom:10px;
      position: relative;
      top: 80px;
      color: white; 
      
  }
  .pc .chat .middle .message-row .message{
      background: #8A2BE2;
      padding: 10px;
      font-size: 18px;
  }
  .pc .chat .middle .message-row .date{
      color: black;
      opacity: 0.6;
  }
  
  .pc .chat .middle .message-row.you .message{
      background: #001f3f;
      border-radius: 20px 0px 20px 20px;
      color: white;
  }
  
  .pc .chat .middle .message-row.other .message{
      border-radius: 0px 20px 20px 20px;
  }
  

.pc .you{
    justify-content: end;
    justify-items:end;
    
  }
.pc .other{
    justify-content: start;
    justify-items:start;
  }
.pc .right .chat .bottomBar{
    height: 70px;
    background: #5117C5;
}

.pc .right .chat .bottomBar form{
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns:30px 300px;   
}
.pc .right .chat .bottomBar form input{
    height: 38px;
    width: 265px;
    padding: 10px;
    /*! border-radius: 50px; */
    justify-self: center;
    align-self: center;
    /*! border:1px solid white; */
    font-size: 14px;
    margin-left: 30px;
}
.pc .right .chat .bottomBar form .fa-paperclip{
    font-size: 23px;
    color:white;
    justify-self: start;
    align-self: center;
    margin-left: 20px;
}





  /*--------------------- pc ---------------------------------------------*/
  
  .mobile{
      height: 100%;
      background:#8A2BE2;
      width: 100%;
  }
  
  .mobile .top{
      text-align: center;
      padding: 10px;
      display:grid;
      background: linear-gradient(360deg,#8A2BE2,#320daf );
      color: white;
      place-items:center;
  }
  .mobile .top img{
      height: 100px;
      width: 100px;
      border-radius: 50%;
      margin: 15px;
  }
  .mobile .top h2{
      font-size: 25px;
      
      width: 66%;
      padding: 4px;
  }
  
  .mobile .contact-list{
      height: 100%;
      background: #eee;
      color: #000 !important;
      padding-top: 50px;
      border-top-right-radius: 40px;
      border-top-left-radius: 40px;
  }
  
  .mobile .contact-list .contact{
      padding: 15px;
      color: #000 !important;
      display: grid;
      width: 100%;
      grid-template-columns:40px 1fr max-content;
      grid-gap:10px;    
  }
  
  
  
  .mobile .contact-list .contact img{
      position: relative;
      top: 10px;
      grid-row: span 2;
      height: 50px;
      width: 50px;
      border-radius: 100%;
  }
  
  
  
  .mobile .contact-list .contact .name{
      font-size: 20px;
      margin-left: 15px;
      position: relative;
      top: 5px;
  }
  
  
  
  .mobile .contact-list .contact .msg{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      grid-row: span 2;
      font-size:12px;
      padding-left: 15px;
  }
  
  .mobile .contact-list .contact .date{
      margin-top: 5px;
      grid-row: span 2;
      font-weight: bold;
      opacity: 0.6;
  }
  
  
  
  .mobile .top{
      display: none;
  }
  
  .mobile .contact-list{
      display: none;
  }
  
  .mobile .chat{
      height: 100%;
      background: red;
      width: 100%;
  }
  
  
  .mobile .chat .topbar{
      padding: 10px;
      color:white;
      display: grid;
      grid-template-columns: 0.5fr 60px 1fr 1fr 0.5fr;
      background: #5117C5;
      position: fixed;
      top: 0;
      z-index: 99999;
      width: 100%;
  }
  
  .mobile .chat .topbar img{
      height: 43px;
      width: 43px;
      border-radius: 100px;
      align-self: center;
      border: 2px solid limegreen;
  }
  
  .mobile .chat .topbar h2{
      font-size: 20px;
      position: relative;
      top: 2px;
      align-self: center;
      
  }
  
  .mobile .chat .topbar .fa-ellipsis-v{
      font-size: 18px;
      align-self: center;
      justify-self: end;
      margin-right: 10px;
  }
  .mobile .chat .topbar .fa-ellipsis-v:hover{
      cursor: pointer;
  }
  .mobile .chat .topbar #active{
      font-size: 20px;
      align-self: center;
      color: limegreen;
  }
  
  .mobile .chat .middle{
      background: #eee;
      min-height: 100%;
      height: max-content;
      overflow: auto;
      z-index: -1;
  }
  
  .mobile .chat .middle .message-row{
      display:grid;
      grid-template-columns: 70%;
      margin: 5px;
      margin-bottom:10px;
      position: relative;
      top: 80px;
      color: white; 
      
  }
  
  .mobile .chat .middle .message-row .message{
      background: #8A2BE2;
      padding: 10px;
  }
  .mobile .chat .middle .message-row .date{
      color: black;
      opacity: 0.6;
  }
  
  .mobile .chat .middle .message-row.you .message{
      background: #001f3f;
      border-radius: 20px 0px 20px 20px;
  }
  
  .mobile .chat .middle .message-row.other .message{
      border-radius: 0px 20px 20px 20px;
  }
  
  
  .you{
    justify-content: end;
    justify-items:end;
    
  }
  .other{
    justify-content: start;
    justify-items:start;
  }
  .mobile .chat .middle .message-row .message{
      font-size: 15px;
  }
  
  
  .mobile .chat .bottom{
      
      width: 100%;
      
      
  }
  .wrapper{
      overflow-y: scroll;
  }
  .mobile .chat .bottom form{
      height: 60px;
      align-content: center;
      background: #5117C5;
      display: grid;
      grid-template-columns: 1fr 40px;
      padding: 10px;
      
      width: 100%;
  }
  
  .mobile .chat .bottom form input{
      height: 35px;
      width: 250px;
      border-radius:30px;
      padding-left:  20px;
      
  }
  
  .mobile .chat .bottom form button{
      background: transparent;
      position: relative;
      right: 10px;
      border:0;
  }
  .mobile .chat .bottom form i{
      font-size: 35px;
      color: white;
  }
   
  .mobile{
      display: none;
  }
.contact-list .contact{
    transition: box-shadow 0.3s ease;
}

.contact-list .contact:hover{
    cursor: pointer;
    box-shadow: 10px 10px 10px 10px silver;
}